@charset "utf-8";
:root {
  /* color palette:
   https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51 */

  /* Site Colors */
  --charcoal: #264653ff;
  --persian-green: #2a9d8fff;
  --orange-yellow-crayola: rgba(245, 179, 12, 0.404);
  --sandy-brown: #f4a261ff;
  --burnt-sienna: #e76f51ff;

  /* Call fonts from Google Font */
  /*
  font-family: 'Poppins', sans-serif;
font-family: 'Stick No Bills', sans-serif;
 */
}

body {
  max-width: 90%;
  margin: auto;
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;
  padding: 1em;
}

header,
footer {
  background-color: var(--orange-yellow-crayola);
  color: var(--charcoal);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.l4DivLogo img {
  border: 3px solid var(--persian-green);
  border-radius: 30px 30px 30px 0;
}

nav {
  font-family: "Stick No Bills", sans-serif;
  color: var(--charcoal);
}

nav button {
  margin: 0.3rem 5%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  padding: 0.8rem 2%;
  color: var(--color2);
}

nav ul li.active a {
  background-color: var(--orange-yellow-crayola);
}

nav ul li a:hover {
  color: whitesmoke;
  background-color: var(--persian-green);
}

nav ul.hide {
  display: none;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-family: "Stick No Bills", sans-serif;
  font-size: 1.5rem;
}
footer {
  font-size: 0.8em;
}

img {
  max-width: 100%;
  padding: 0.1em;
  margin: auto;
}

.encabeza {
  font-family: "Stick No Bills", sans-serif;
}

.imgPreston {
  margin: 0 auto;
  width: 50%;
}

.contentBox {
  background-color: var(--orange-yellow-crayola);
  color: var(--charcoal);
  padding: 12px;
  margin: 10px auto;
  display: block;
  border-radius: 20px 20px 20px 0;
}

/*** Clearfix. Force an element not to collapse ***/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
