/*** CSS FOR TABLET VIEW ***/

@media only screen and (min-width: 35rem) {
  body {
    max-width: 90%;
  }

  h1 {
    font-size: 2.2em;
  }
  h2 {
    font-size: 1.7em;
  }

  header {
    font-size: 1.4em;
  }

  p {
    font-size: 1.2em;
  }

  nav button {
    display: none;
  }

  nav ul.hide {
    display: block;
  }

  nav ul {
    margin-left: 2%;
  }

  nav ul li {
    float: left;
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.8rem 1rem;
    font-size: 1.4rem;
  }

  iframe {
    display: block;
    width: 100%;
  }

  div#mapdiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    box-shadow: 0 8px 16px 0 var(--burnt-sienna);
    text-align: left;
    padding: 0.3em;
    border: solid var(--persian-green);
  }

  .smicon {
    width: 60px;
    padding: 5px;
  }

  /*** Main styles ***/
  section.home_sect {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 2rem;
  }

  section.home_sect:nth-child(6) img {
    grid-column: 1/2;
  }

  section.home_sect:nth-child(6) div.home_town_text {
    grid-column: 2/3;
    grid-row: 1;
  }
}
